<div class="container">
  <div class="row" id="task-row">
    <div id="container" class="col-xs-3">
      <h1 class="task-h1">To-Do List <i class="fa fa-pencil-square-o"></i> </h1>
      <% @tasks.each do |task| %>
        <% if current_user == task.user %>
          <ul id="task-ul">
            <li id="task-li"><span><%= link_to '<i class="fa fa-trash"></i>'.html_safe, task, class: "li-icon", method: :delete %></span><strong><%= task.task %></strong></li>
          </ul>
        <% end %>
      <% end %>
      <%= simple_form_for [@task, Task.new]  do |f| %>
        <div class="form-inline field" id="field">
          <%#= f.label :task %>
          <%= f.text_field :task, class: "form-control", placeholder: "Task..." %>
          <%= f.submit "Add Task", class: "btn btn-primary pull-right" %>      
        </div>
        <br>
      <% end %>
    </div>
    <div id="calendar" class="col-sm-12"></div> 
  </div>
  <script type="text/javascript">
    var timer = new Timer();
    $('#chronoExample .startButton').click(function () {
        timer.start();
    });
    $('#chronoExample .pauseButton').click(function () {
        timer.pause();
    });
    $('#chronoExample .stopButton').click(function () {
        timer.stop();
    });
    $('#chronoExample .resetButton').click(function () {
        timer.reset();
    });
    timer.addEventListener('secondsUpdated', function (e) {
        $('#chronoExample .values').html(timer.getTimeValues().toString());
    });
    timer.addEventListener('started', function (e) {
        $('#chronoExample .values').html(timer.getTimeValues().toString());
    });
    timer.addEventListener('reset', function (e) {
        $('#chronoExample .values').html(timer.getTimeValues().toString());
    });
  </script>
  <div id="chronoExample" id="timer-block">
    <div class="values" id="timer-value">00:00:00</div>
    <div>
        <button class="startButton btn btn-success">Start</button>
        <button class="pauseButton btn btn-info" >Pause</button>
        <button class="stopButton btn btn-danger">Stop</button>
        <button class="resetButton btn btn-warning">Reset</button>
    </div>
</div>
</div>





<%#= link_to 'Destroy', task, class: "btn btn-xs btn-danger pull-right", method: :delete, data: { confirm: 'Are you sure?' } %>