<div align="center">
    <%= image_tag @user.avatar.url(:medium), class: "thumbnail profile-image" %>
    <h1 class="index-header"><%= @user.full_name %></h1>
    <h4><%= @user.email %></h4>
</div>


<%= render 'posts/posts', obj: @user_posts %>

<div class="center">
    <%= will_paginate @user_posts %>
</div>