<% obj.each do |post| %>
  <div class="well  col-md-12">
    <h4 class="post-title"><%= post.title %></h4>
    <p class="post-body"><%= post.body %></p>
    <p>Posted by <%= link_to post.user.first_name, user_path(post.user) %>, <%= time_ago_in_words(post.created_at)%> ago,
                        last updated: <%=time_ago_in_words(post.updated_at)%> ago</p>
      <% if post.subjects.any? %>
        <p>Subjects: 
            <% post.subjects.each do |s| %>
              <%= link_to s.name, subject_path(s), class: "badge" %>
            <% end %>                            
        </p>
      <% end %> 
    <%= link_to 'View full Post', post_path(post), class: "btn btn-xs btn-primary" %>    
  </div>
<% end %>