<h1 align="center"><%= @post.title %></h1>
<div class="show-container">
  <div class="well col-md-12">
    <text><%= @post.html_body %></text1>
    <p>Posted by: <%= link_to @post.user.full_name, user_path(@post.user)%></p>
    <% if @post.subjects.any? %>
        <p>Subjects: 
            <% @post.subjects.each do |s| %>
              <%= link_to s.name, subject_path(s), class: "badge" %>
            <% end %>                            
        </p>
      <% end %> 
    <% if current_user.id == @post.user_id || current_user.admin? %>
      <%= link_to 'Edit Post', edit_post_path(@post), class: "btn btn-primary btn-xs" %>
      <%= link_to 'Delete Post', post_path(@post),  class: "btn btn-danger btn-xs", method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
  </div>

  <h3 class="comments_title">
    <%= @post.comments.count %> Comments
  </h3>

  <div id="comments">
    <%= render :partial => @post.comments %>
  </div>
  <%= simple_form_for [@post, Comment.new]  do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <br>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  <% end %>

