<div class="navbar navbar-toggleable-md navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" id="logo">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Studyion
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <% if current_user %>
          <ul class="nav navbar-nav">
              <li class="dropdown links">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notes <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "See all Notes", posts_path, class: "links" %></li>
                  <li><%= link_to "New Note", new_post_path, class: "links" %></li>
                </ul>
              </li>
              <li>
                <%= link_to 'Q&A', questions_path, class: "links"  %>
              </li>
              <li><%= link_to "Subjects", subjects_path, class: "links"  %></li>
              <li><%= link_to "All Users", users_path, class: "links"  %></li>
              <li><%= link_to "Study Time", tasks_path, class: "links"  %></li>
          </ul>
          <ul class="nav navbar-right col-md-4">
            <li class="col-md-8 user-name text-right"></li>
            <li class="col-md-4 logout">
              <%= link_to('<i class="fa fa-sign-out" aria-hidden="true"></i>
 Logout'.html_safe, destroy_user_session_path, class: "btn btn-danger",
                                         method: :delete)%>
            </li>
          </ul>
          <% else %>   
            <ul class="nav navbar-right col-md-4">
              <li class="col-md-6 pull-right logout">
                <%= link_to 'Login', new_user_session_path, class: "btn btn-success" %>
              </li>
            </ul>
          <% end %>

        </div>     
        
      </div>
    </div>

