<div class="navbar navbar-toggleable-md navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" id="logo">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            NoteTakingApp
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <% if current_user %>
          <ul class="nav navbar-nav">
              <li><%= link_to "See all Notes", posts_path, class: "links"%></li>
              <li><%= link_to "Add Post", new_post_path, class: "links"  %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle links" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%=link_to 'All Categories', categories_path %></li>
                  <% Subject.all.each do |subject| %>
                    <li><%= link_to "#{subject.name}", subject_path(subject) %></li>
                  <% end %>
                  <% if current_user.admin? %>
                  <li role="separator" class="divider"></li>
                    <li><%= link_to 'Create New Category', new_category_path %></li>
                  <% end %>
                </ul>
              </li>
          </ul>
          <ul class="nav navbar-right col-md-4">
            <li class="col-md-8 user-name text-right"></li>
            <li class="col-md-4 logout"><%= link_to("Logout", destroy_user_session_path, class: "btn bnt-xs btn-danger ",
                                         method: :delete)%></li>
          </ul>
          <% end %>          
        </div>     
        
      </div>
    </div>

